<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content fxLayout="column">
  <p *ngIf="data.content">{{data.content}}?</p>
  <mat-form-field *ngIf="data.file" >
    <input matInput
      [placeholder]="data.file.placeholder"
      [(ngModel)]="data.file.title">
  </mat-form-field>
  <mat-form-field>
    <mat-select
      name="format"
      [placeholder]="data.formats.title"
      [(ngModel)]="data.formats.selectedValue">
      <mat-option *ngFor="let format of data.formats.values" [value]="format">
        {{format}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.formats.selectedValue === 'JACK XML' && data.jackStage">
    <input matInput type="number" [(ngModel)]="data.jackStage.value" [placeholder]="data.jackStage.title">
  </mat-form-field>
  <mat-form-field *ngIf="!(data.formats.selectedValue === 'JACK XML') && data.fileTypes">
    <mat-select
      name="fileType"
      [placeholder]="data.fileTypes.title"
      [(ngModel)]="data.fileTypes.selectedValue">
      <mat-option *ngFor="let fileType of data.fileTypes.values" [value]="fileType">
        {{fileType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button
    (click)="onNoClick()">
    {{data.no}}
  </button>
  <button mat-button
    [mat-dialog-close]="data.yes"
    (click)="onYesHandler()"
    cdkFocusInitial>
    {{data.yes}}
  </button>
</div>
