/deep/mat-tab-group {
    min-height: 200px;
}

#content-wrapper {
  padding-left: 20%;
  padding-right: 20%;
}

.header {
  height: 100px;
}

.banner {
  max-height: 75px;
  width: auto;
  height: auto;
  display: block;
}
