<p>Enter a text below or select a text file to upload.</p>
<mat-card>
  <form [formGroup]="form"
    (ngSubmit)="submit()">
    <div>
      <label mat-button
        fxFlex="18"
        fxLayoutAlign="space-between center"
        for="file"
        class="mat-raised-button"
        matTooltip="start uploading file">
        <mat-icon>cloud_upload</mat-icon>
        <span> Upload file (*.txt) </span>
      </label>

      <input
        id="file"
        accept=".txt"
        (change)="load($event)"
        type="file">

      <mat-error *ngIf="invalidType ">
          Invalid file format. Only .txt files are accepted.
      </mat-error>
    </div>

    <mat-form-field>
      <!-- Text To Translate Control-->
      <textarea
          formControlName="ctestText"
          matInput
          placeholder="Text to convert to C-Test"
          matTextareaAutosize
          matAutosizeMinRows="6"
          matAutosizeMaxRows="10">
      </textarea>
      <mat-error *ngIf="this.form.controls.ctestText.errors">You need to enter a text.</mat-error>
    </mat-form-field>

    <div fxLayoutAlign="space-between" fxLayoutGap="20px">
      <button mat-button
        flex="60"
        type="submit"
        class="mat-raised-button"
        color="primary">
        Create C-Test
      </button>
    </div>
  </form>
</mat-card>
