<div fxLayout="column"
  fxLayoutAlign="space-between space-between"
  fxLayoutGap="10px">

  <div *ngIf="(this.warnings$ | async)">
    <h5>Warnings:</h5>
    <p>
      <span *ngFor="let warning of (warnings$ | async)" style="color: rgb(255, 66, 66);">{{warning}}<br></span>
    </p>
  </div>

  <div>
    <span>Gaps: {{ calculateGaps() }}</span>
    <span>Words: {{ words.length }}</span>
  </div>

  <div *ngIf="this.words"
    fxLayoutAlign="start center"
    fxLayoutGap="25px">

    <div>
      <button mat-raised-button
        (click)="this.stateService.undo()"
        matTooltip="undo last change">
        <mat-icon>undo</mat-icon>
      </button>

      <button mat-raised-button
        (click)="this.stateService.redo()"
        matTooltip="redo last change">
        <mat-icon>redo</mat-icon>
      </button>
    </div>

    <mat-slide-toggle
      [(ngModel)]="showPreview"
      color="primary">
      Preview Mode
    </mat-slide-toggle>

    <!-- FIXME: Does not do anything -->
    <mat-slide-toggle
      (change)="toggleAlternativesView()"
      color="primary">
      Show Alternatives
    </mat-slide-toggle>

  </div>

  <mat-card class="text_editor">
    <div class="ngx-dnd-container"
      *ngIf="!showPreview"
      ngxDroppable="wordArea"
      [model]="words">

      <!-- Draggable Words  -->
      <ng-container *ngFor="let word of words">
        <tp-token
          [token]="word"
          [backdrop]="true"
          (select)="onTokenSelection($event)"
          (gapChange)="updateGaps($event)"
          (modify)="onTokenModification($event)"
          (delete)="onTokenDeletion($event)"
          ngxDraggable="wordArea,deleteArea"
          [model]="word">
        </tp-token>
      </ng-container>

      <button mat-mini-fab
        (click)="addNewWord()"
        color="primary">
        <mat-icon matTooltip="Add new word next">add</mat-icon>
      </button>
    </div>
    <div *ngIf="showPreview"><!-- FIXME: Does not work --></div>
  </mat-card>

  <div>
    <tp-export [words]="this.words"></tp-export>

    <button mat-raised-button
      (click)="this.router.navigate([''])">
      New C-Test
    </button>
  </div>
</div>
