<!-- WIP
<div *ngIf="false">
    <button mat-icon-button
      class="help-button"
      matTooltip="click to open help menu">
      <mat-icon>help_outline</mat-icon>
    </button>

    <div class="overlay-backdrop">
      <mat-card class="help-screen">
        <div #helpHeader
          fxLayout
          fxLayoutAlign="space-between center">
          <h2>Help</h2>
          <button mat-button>
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="help-content">
          <h3>Editor Window</h3>
          <p>In the <i>Editor Window</i>, you can modify the C-Test as a whole and get an overview over its current state. Depending on a token's current state, its display changes.</p>
          <p>If a token is currently <strong>selected</strong>, it is displayed in bold face.</p>
          <p><strong>Gapped tokens</strong> can be identified by their color. The gapped part of a token is displayed in red.</p>
          <img src="assets/gapped-token.jpg">
          <p>Some tokens are <strong>locked</strong>. A locked token has a lock symbol displayed next to its text. Locked tokens are ignored by the Gapscheme. If an automatic gap update occurs, locked tokens will be skipped, as if they were not part of the text. You can use this functionaliy to enforce constraints on certain parts of the C-Test (e.g. leading and trailing ungapped sentences.)</p>
          <img src="assets/locked-token.jpg">
          <p>Tokens can be <strong>clicked</strong> and <strong>dragged</strong>. Clicking a token opens the <i>Token Edit UI</i>, where the properties of a token can be modified. By dragging a token, its position in the C-Test is altered. Modifying a token or changing its position may trigger <i>automatic gap updates</i>.</p>

          <h3>Token Edit UI</h3>
          <p>The <i>Token Edit UI</i> allows you to modify the properties of a token. You can open the Token Edit UI by clicking on a token in the <i>Editor Window</i>. It can be closed by using either the <i>Confirm Button</i> or <i>Discard Button</i>.</p>
          <img src="assets/token-edit-ui.jpg">
        </div>
      </mat-card>
    </div>
</div>
-->

<div fxLayout="column"
  fxLayoutAlign="space-between space-between"
  fxLayoutGap="10px">

  <!-- removed until fixed in backend.
  <div *ngIf="(this.warnings$ | async)">
    <h5>Info:</h5>
    <p>
      <span *ngFor="let warning of (warnings$ | async)" style="color: rgb(255, 66, 66);">{{warning}}<br></span>
    </p>
  </div>
  -->

  <mat-card #controlPanel
    class="control-panel"
    fxLayoutAlign="space-between center"
    fxLayoutGap="25px">

    <div fxLayoutAlign="center center">
      <button mat-button
        fxFlex="1 1 50%"
        (click)="this.stateService.undo()"
        [disabled]="!this.stateService.hasUndo"
        matTooltip="undo last change">
        <mat-icon>undo</mat-icon>
      </button>

      <button mat-button
        fxFlex="1 1 50%"
        (click)="this.stateService.redo()"
        [disabled]="!this.stateService.hasRedo"
        matTooltip="redo last change">
        <mat-icon>redo</mat-icon>
      </button>
    </div>

    <div class="vertical-divider"></div>

    <mat-slide-toggle
      [(ngModel)]="showPreview"
      labelPosition="before"
      color="primary">
      Preview Mode
    </mat-slide-toggle>

    <div class="vertical-divider"></div>

    <span>Words: {{ this.words.length }}</span>

    <div class="vertical-divider"></div>

    <div fxLayout="column">
      <div>
        <span>Gaps: {{ this.gaps }}</span>
        <button mat-icon-button
          (click)="this.updateAllGaps()"
          matTooltip="recalculate all gap positions">
          <mat-icon>sync</mat-icon>
        </button>
      </div>

      <mat-slide-toggle
      [(ngModel)]="this.autoUpdate"
      labelPosition="before"
      color="primary"
      matTooltip="When active, the Gap Scheme is recalculated automatically when changing gaps or moving words.">
      Auto Update
      </mat-slide-toggle>
    </div>

  </mat-card>



  <mat-card class="text_editor">
    <div class="ngx-dnd-container"
      *ngIf="!showPreview"
      ngxDroppable
      (drop)="this.onDrop($event)">

      <!-- Draggable Words  -->
      <ng-container *ngFor="let word of words">
        <tp-token
          [token]="word"
          (gapChange)="onGapChange($event)"
          (modify)="onTokenModification($event)"
          (delete)="onTokenDeletion($event)"
          ngxDraggable
          [model]="word">
        </tp-token>
      </ng-container>

     <!-- Removed until implemented properly.
       <button mat-mini-fab
        (click)="addNewWord()"
        color="primary">
        <mat-icon matTooltip="Add new word next">add</mat-icon>
      </button> -->
    </div>
    <div *ngIf="showPreview">
      <p>
        <ng-container *ngFor="let word of words">
          {{ word | testview }}
        </ng-container>
      </p>
    </div>
  </mat-card>

  <div fxLayout="row" fxLayoutGap="25px">
    <tp-export [words]="this.words"></tp-export>

    <button mat-raised-button
      (click)="this.routeToHome()">
      New C-Test
    </button>
  </div>
</div>
