.text_editor {
  min-height: 270px;
  max-height: 600px;
  overflow: auto;
  display: inline-block;
  line-height: 1.5em;
}
.margin-left-1{
  margin-left: 50px;
}
.control-panel{
  padding: 5px;
  margin-top: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.vertical-divider {
  border-right-color: rgba(0,0,0,.12);
  border-right-style: solid;
  border-right-width: 1px;
  min-width: 2px;
  min-height: 36px;
}

/* Help Screen */
.help-button {
  position: fixed;
  right: 30px;
  top: 125px;
}
.overlay-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 9001;
  background-color: rgba(0,0,0,.67);
}
.help-screen {
  max-width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: scroll;
}
.help-content {

}
