.text_editor {
  min-height: 270px;
  max-height: 600px;
  overflow: auto;
  display: inline-block;
  line-height: 1.5em;
}
.margin-left-1{
  margin-left: 50px;
}
.control-panel{
  padding: 5px;
  margin-top: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.vertical-divider {
  border-right-color: rgba(0,0,0,.12);
  border-right-style: solid;
  border-right-width: 1px;
  min-width: 2px;
  min-height: 36px;
}

/* Help Screen */
.help-button {
  position: fixed;
  right: 30px;
  top: 125px;
}

.full-width {
  width: 33%;
}

.warn {
  color: crimson;
}
