<p>Enter a text below or select a text file to upload.</p>
<mat-card>
  <button mat-raised-button
    type="button"
    (click)="fileIn.click()"
    matTooltip="start uploading file">
    <mat-icon>cloud_upload</mat-icon>
    <span> Upload file (*.txt) </span>
  </button>

  <form [formGroup]="form"
    (ngSubmit)="submit()">
    <div>
      <input #fileIn
        type="file"
        accept=".txt"
        hidden="hidden"
        (change)="load($event)">
      <mat-error *ngIf="invalidType ">
          Invalid file format. Only .txt files are accepted.
      </mat-error>
    </div>

    <mat-form-field>
      <!-- Text To Translate Control-->
      <textarea
          formControlName="ctestText"
          matInput
          placeholder="Text to convert to C-Test"
          matTextareaAutosize
          matAutosizeMinRows="6"
          matAutosizeMaxRows="10">
      </textarea>
      <mat-error *ngIf="this.form.controls.ctestText.errors">You need to enter a text.</mat-error>
    </mat-form-field>

    <div fxLayoutAlign="start" fxLayoutGap="20px">
      <button mat-button
        flex="60"
        type="submit"
        class="mat-raised-button"
        color="primary"
        [disabled]="!this.serviceAvailable">
        Create C-Test
      </button>
      <button mat-raised-button
        flex="60"
        type="button"
        (click)="importIn.click()">
        Import C-Test
      </button>
      <input #importIn
        type="file"
        accept=".json"
        hidden="hidden"
        (change)="import($event)">
    </div>
  </form>
</mat-card>
