mat-card {
  padding: 0px;
}

.bold-on-hover:hover {
  font-weight: 600;
  cursor: pointer;
}

.token {
  display: inline-block;
  color: rgba(0, 0, 0, .87);
  transition: background-color 0.25s;
  transition-timing-function: ease-in-out;
}

.token:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.selected {
  font-weight: 600;
}

.transparent {
  opacity: 1.0;
}

.edit-field {
  padding: 8px;
  min-width: 160px;
}

.badge {
  position: relative;
  font-weight: normal !important;
  top: -8px;
  left: -4px;
  z-index: 2;
  font-size: 12px;
  line-height: 13px;
  border-radius: 50%;
  min-width: 13px;
  min-height: 13px;
  max-width: 13px;
  max-height: 13px;
  background-color: rgba(233,30,99, .75);
  border: 3px solid transparent;
  color: #ffffff;
  text-align: center;
}

.badge:hover {
  background-color: rgba(233,30,99, 1);
}
