


<div fxFlex>
  <div fxLayout="row" >
    <div fxFlex="20%">
    </div>
    <div fxFlex="60%">
      <mat-card class='card'>
        <h1>
          {{title}}
        </h1>
        <!--<nav>
            <a mat-raised-button routerLink="/index" routerLinkActive="active">Index</a>
            <a mat-raised-button routerLink="/edit" routerLinkActive="active">Edit</a>
        </nav>-->
        <router-outlet></router-outlet>

      </mat-card>

    </div>
    <div fxFlex="20%" >
    </div>
  </div>
</div>
