.config_card{
    align-items: center !important;
}
.report_card{
  &__preview{
    margin-top: auto;
    margin-bottom: auto;
  }
}
.text_editor {
    &__make_bold {
        font-weight: 600;
    }
    &__main {
        min-height: 270px;
        max-height: 600px;
        overflow: auto;
    }
    &__right {
        place-content: flex-start !important;
        &__new_word{
            background-color: initial;
            border: 1px solid rgba(0,0,0,.87) ;
        }

        &__close{
            cursor: pointer;
        }
        mat-card {
            min-height: 50px;
        }
        &__empty_word {
            font-size: 17px;
        }
    }
}
.margin-left-1{
  margin-left: 50px;
}

.token {
  padding: 1px;
  display: inline-block;
  color: rgba(0, 0, 0, .87);
}

.token:hover {
  background-color: lightgray;
  cursor: pointer;
}

.selected {
  font-weight: 700;
}

.delete{cursor: pointer; padding-left: 26px;}
