<h1 md-dialog-title>Export As</h1>
<div md-dialog-content> 
  <md-input-container>
    <input mdInput placeholder="Title" [(ngModel)]="title" name="title">
  </md-input-container>
  <br>

  <form>  
    <md-select placeholder="Format" [(ngModel)]="formatSelected" name="format">
        <md-option *ngFor="let format of formats" [value]="format.value">
            {{format.viewValue}}
          </md-option>
    </md-select>
    
  </form>


</div>
<div md-dialog-actions>
  <button md-button (click)="export()">Export</button>
  <button md-button (click)="dialogRef.close()">Exit</button>
</div>