<h1 mat-dialog-title>Export As</h1>
<div mat-dialog-content>
  <mat-input-container>
    <input matInput placeholder="Title" [(ngModel)]="title" name="title">
  </mat-input-container>
  <br>

  <form>
    <mat-select placeholder="Format" [(ngModel)]="formatSelected" name="format">
        <mat-option *ngFor="let format of formats" [value]="format.value">
            {{format.viewValue}}
          </mat-option>
    </mat-select>

  </form>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="export()">Export</button>
  <button mat-button (click)="dialogRef.close()">Exit</button>
</div>
