/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@swimlane/ngx-dnd/release/index.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700|Roboto:400,400i,500,700');

body, head {
  font-family: Roboto,"Open Sans","Helvetica Neue",sans-serif;
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
    $font-family: 'Roboto, "Open Sans"'
);

@include mat-core($custom-typography);
@include angular-material-typography($custom-typography);
