mat-card {
  padding: 4px;
  opacity: 0.33;
  z-index: 1;
  position: absolute;
}

mat-card:hover {
  opacity: 1.0;
}

.bold-on-hover:hover {
  font-weight: 700;
}

#textEditInput {
  min-width: 25px;
  max-width: 80px;
  padding: 0px;
}


.token {
  padding: 1px;
  display: inline-block;
  color: rgba(0, 0, 0, .87);
}

.token:hover {
  background-color: lightgray;
  cursor: pointer;
}

.selected {
  font-weight: 700;
}
