<ng-container>
  <span class="token" cdk-overlay-origin #trigger="cdkOverlayOrigin"
    [ngClass]="{'selected': selected}"
    (click)="this.select()">
    {{ this.token | iosview }}
  </span>

  <ng-template cdk-connected-overlay
    [origin]="trigger"
    [open]="this.selected"
    cdkConnectedOverlayBackdropClass="transparent"
    (backdropClick)="this.close()">
  <mat-card

    fxLayout="column">
    <div #firstRow fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-icon-button
        (click)="decrementIndex()"
        matTooltip="move gap to the left">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      <span>
        <span *ngIf="this.textEdit; then textEditView; else textShowView;"></span>
        <ng-template #textShowView>
          <span class="bold-on-hover" (click)="this.textEdit = true; this.alternativesEdit = false;" matTooltip="click to edit text">{{ this.tempToken | prompt }}</span>
        </ng-template>
        <ng-template #textEditView>
          <mat-form-field *ngIf="this.textEdit" id="textEditInput">
            <input matInput [(ngModel)]="this.tempToken.value" (keyup)="handleTextEditKeyup($event)">
          </mat-form-field>
        </ng-template>

        <span *ngIf="this.alternativesEdit; then alternativesEditView; else alternativesShowView;"></span>
        <ng-template #alternativesShowView>
            <span class="bold-on-hover" (click)="this.alternativesEdit = true; this.textEdit = false;" matTooltip="click to edit alternatives">{{ this.tempToken | solutions }}</span>
        </ng-template>
        <ng-template #alternativesEditView>
          <mat-form-field *ngIf="this.alternativesEdit">
              <input matInput placeholder="Alternatives" [value]="this.tempToken.alternatives">
          </mat-form-field>
        </ng-template>
      </span>

      <button mat-icon-button
        (click)="incrementIndex()"
        matTooltip="move gap to the right">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <div #secondRow fxLayoutAlign="center center">
      <mat-slide-toggle
        [checked]="this.tempToken.gapStatus"
        (change)="this.tempToken.gapStatus = !this.tempToken.gapStatus"
        labelPosition="before"
        matTooltip="toggle gap">
        Gap
      </mat-slide-toggle>
      <button mat-icon-button
        (click)="this.locked = !this.locked"
        matTooltip="toggle lock">
        <mat-icon *ngIf="this.locked">lock</mat-icon>
        <mat-icon *ngIf="!this.locked">lock_open</mat-icon>
      </button>
      <button mat-icon-button
        (click)="delete()"
        matTooltip="delete token">
        <mat-icon>delete_outlined</mat-icon>
      </button>
    </div>

    <mat-divider [inset]="true"></mat-divider>

    <div #thirdRow fxLayoutAlign="center center">
      <button mat-button
        fxFlex="1"
        (click)="apply()"
        matTooltip="apply changes"
        color="primary">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-button
        fxFlex="1"
        (click)="discard()"
        matTooltip="discard changes"
        color="warn">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </mat-card>
</ng-template>

</ng-container>
