



<div  fxFlex>
  <div fxLayout="row"  >
    <div  fxFlex="20%"> 
       ̰<p>
        index works!
      </p>  
    </div>
    <div  fxFlex="60%">  
        <div dnd-draggable [dragEnabled]="true">
            <div>
                <div>Drag Me</div>
            </div>
        </div> 
        <div dnd-droppable class="panel panel-info" (onDropSuccess)="simpleDrop=$event">
          <div >Place to drop</div>
          <div >
              <div *ngIf="simpleDrop">Item was dropped here</div>
          </div>
        </div>
    </div>
    <div  fxFlex >      
      <button md-button>Click me!</button>      
    </div>
  </div>
</div>