



<!--<div  fxFlex>
  <div fxLayout="row"  >
    <div  fxFlex="20%"> 
       ̰<p>
        index works!
      </p>  
    </div>
    <div  fxFlex="60%">  
        <div dnd-draggable [dragEnabled]="true">
            <div>
                <div>Drag Me</div>
            </div>
        </div> 
        <div dnd-droppable class="panel panel-info" (onDropSuccess)="simpleDrop=$event">
          <div >Place to drop</div>
          <div >
              <div *ngIf="simpleDrop">Item was dropped here</div>
          </div>
        </div>
    </div>
    <div  fxFlex >      
      <button md-button>Click me!</button>      
    </div>
  </div>
</div>-->
<br>
<br><br>  <br><br>

<md-tab-group>
    <md-tab label="New text input">
      <div>
          <form (ngSubmit)="submit()">
              <md-input-container class="example-full-width">
                <textarea (focus)='clearText()' mdInput placeholder="Text" [(ngModel)]="text" name='text' rows='30'></textarea>
              </md-input-container>
              <form>  
                <md-select placeholder="Language" [(ngModel)]="selectedLanId" name="language">
                  <md-option *ngFor="let language of languages" [value]="language.value">
                    {{language.viewValue}}
                  </md-option>
                </md-select>
              </form>
              <br>
              <button md-raised-button type="submit">
                Submit
              </button>
          </form>
        </div>
    </md-tab>
    <md-tab label="Import from existing file">
      <form (ngSubmit)="import($event)">
          <input type="file" >
          <button md-raised-button type="submit">
              Import
            </button>
      </form>
      

    </md-tab>
  </md-tab-group>