

<div>
  <nav>

  </nav>
</div>

<br>
<br>




 <div  fxFlex>
  <div fxLayout="row">
    <mat-card fxFlex="80%" class = 'displayBox'>
      <div class='paragraph' *ngFor="let token of tokenizedFromApi"
        (dblclick)="toggleText(token)"
        (click)="onSelect(token)"
        #textBox>
        <div  class='text unselectable' [style.border]="selectedToken && selectedToken.id === token.id && simpleDrop == -1? '1px solid #FFB40F' : '1px solid black'" dnd-draggable [dragEnabled]="true" [dragData]="token.id" [dropZones]="['zone2']">
          <span *ngIf='token.isGap'>{{gappedTokens[token.id]}}</span>
          <span *ngIf='!token.isGap'>{{token.value}}</span>
          <span *ngIf='showingOriginal' ><span style="color:#355a99" *ngFor='let alt of token.altValue'>/{{alt}} </span></span>
        </div>

        <!--<div *ngIf = 'selectedText && selectedText.id == text.id && simpleDrop == -1' class='text selected' >
          <input #changeTextInput mdInput
              (keyup.enter)="changeTextInput.blur()"
              (blur)="update(selectedText)"
              [(ngModel)]="selectedText.value[0]"
              >
        </div>-->


        <div *ngIf="simpleDrop == token.id" class='text unselectable'>
          <!--<mat-input-container class='inputContainer'>-->
            <input #textInput matInput class="input"
            (keyup.enter)="textInput.blur()"
            (blur)="add(addedText,token.id)"
            [(ngModel)]="addedText">
          <!--</mat-input-container>-->
        </div>
        <span dnd-droppable (onDropSuccess)="onDropSuccess(token.id)" [dropZones]="['zone1']"><span > &nbsp;&nbsp;&nbsp;&nbsp;</span></span>
      </div>

      <br><br><br>
      <!-- <div *ngIf='showOriginal'>
        <div class='previewText unselectable' *ngFor="let text of paragraph">
          //<span *ngFor="let i of solutions">{{text.value[i]}}</span>
          <span *ngFor="let solution of text.value">{{solution}}</span>
        </div>
      </div>  -->
    </mat-card>

    <div fxFlex >
      <div class="menu" fxLayout="column" >
        <mat-card *ngIf='selectedToken' class="menu">
          <mat-card-subtitle>Current token</mat-card-subtitle>
          <span fxLayout="row">Token: {{selectedToken.value}}</span>
          <span fxLayout="row">Gapped: {{gappedTokens[selectedToken.id]}}</span>
          <span fxLayout="row">&nbsp;</span>
          <mat-slide-toggle fxLayout="row" [checked]="selectedToken.isGap" [disabled]="selectedToken.isSpecial" (change) = "toggleText(selectedToken)">
              Toggle gap
          </mat-slide-toggle>
          <mat-slide-toggle matTooltip="Cannot make it special when it is gapped" [checked]="selectedToken.isSpecial" [disabled]="selectedToken.isGap" (change) = "toggleSpecial()">
            Make it special
          </mat-slide-toggle>
          <span fxLayout="row">&nbsp;</span>
          <mat-card-subtitle>Alternative solutions</mat-card-subtitle>
          <mat-input-container *ngFor="let solution of solutions; let i = index; trackBy:trackByIndex;" fxLayout="column">
          <div fxLayout="row">
            <input fxFlex #solutionInput matInput size="15"
            (keyup.enter)="solutionInput.blur()"
            (blur)="solution2Token()"
            [(ngModel)]="solutions[i]">
            <button fxFlex='7%' size="3" matTooltip="Delete this solution" (click)="deleteSolution(i)">
              x
            </button>
          </div>
          </mat-input-container>
          <button matTooltip="Add an alternative solution" mat-raised-button (click)="addSolution()">
            +
          </button>

          <span fxLayout="row">&nbsp;</span>
          <mat-card-subtitle>Change gap index</mat-card-subtitle>
          <div fxLayout="column">
            <div fxLayout="row">
              <mat-slider fxFlex  min="1" [max]="selectedToken.value.length" step="1" thumbLabel [value]="selectedToken.offset" (input)="sliderInput($event)"></mat-slider>
              <input fxFlex  #gapIndexInput matInput size="2"
              (keyup.enter)="gapIndexInput.blur()"
              (blur)="updateGap(selectedToken)"
              [(ngModel)]="selectedToken.offset">
            </div>
          </div>

        </mat-card>
        <br>
        <mat-card>
          <div dnd-draggable [dragEnabled]="true" [dropZones]="['zone1']" class='text' >
            <div  matTooltip="Drag inbetween words to insert a new word!"><span>New word</span></div>
          </div> 
          <div dnd-droppable (onDropSuccess)="onDeleteDropSuccess($event)" [dropZones]="['zone2']" class=''>
            <div matTooltip="Drop here to delete"><img src="assets/trash.jpg"></div>
          </div>
        </mat-card>
        <br>
        <mat-card>
          <button mat-raised-button (click)='goBack()'>Cancel</button>
          <button mat-raised-button (click)="reformat()">Reformat</button>
          <button mat-raised-button (click)="export()">Export</button>
          <button mat-raised-button (click)="debug()">debug</button>
          <br>
          <mat-slide-toggle (change) = "toggleOriginal()">
            Check preview
          </mat-slide-toggle>
        </mat-card>
        <mat-card>
          gaps: {{gapCount}} <br>
          total words: {{totalCount}}
        </mat-card>


      </div>
    </div>
  </div>
</div>
