<br>
<br>

<div class="menu">
  <md-slide-toggle (change) = "toggleOriginal()"
      >
    ToggleOriginal
  </md-slide-toggle>
  <button md-button (click)="export()">export</button>
  <div *ngIf='selectedText' class="menu">
    <md-input-container>
      <input mdInput 
      (keyup.enter)="update(selectedText)"
      (blur)="update(selectedText)" 
      [(ngModel)]="selectedText.value">
    </md-input-container>
    <button md-button (click)="setOthers()">
      setOthers
    </button>
  </div>
</div>






<br>
<br>
<div class='text unselectable' *ngFor="let text of paragraph" 
  (dblclick)="toggleText(text)"
  (click)="onSelect(text)">
  <span *ngIf='text.isHidden'>{{text.cValue}}</span>
  <span *ngIf='!text.isHidden'>{{text.value}}</span>

</div>
<br>
<br>

<div *ngIf='showOriginal'>
  <div class='text unselectable' *ngFor="let text of paragraph">
    <span>{{text.value}}{{text.id}}</span>

  </div>
</div>

<br>
<br>
